<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>country</key>
	<array>
		<string>Afghanistan</string>
		<string>Albania</string>
		<string>Algeria</string>
		<string>AmericanSamoa</string>
		<string>Andorra</string>
		<string>Angola</string>
		<string>Anguilla</string>
		<string>Antarctica(theterritorySouthof60degS)</string>
		<string>AntiguaandBarbuda</string>
		<string>Argentina</string>
		<string>Armenia</string>
		<string>Aruba</string>
		<string>Australia</string>
		<string>Austria</string>
		<string>Azerbaijan</string>
		<string>Bahamas</string>
		<string>Bahrain</string>
		<string>Bangladesh</string>
		<string>Barbados</string>
		<string>Belarus</string>
		<string>Belgium</string>
		<string>Belize</string>
		<string>Benin</string>
		<string>Bermuda</string>
		<string>Bhutan</string>
		<string>Bolivia</string>
		<string>BosniaandHerzegovina</string>
		<string>Botswana</string>
		<string>BouvetIsland(Bouvetoya)</string>
		<string>Brazil</string>
		<string>BritishIndianOceanTerritory(ChagosArchipelago)</string>
		<string>BritishVirginIslands</string>
		<string>BruneiDarussalam</string>
		<string>Bulgaria</string>
		<string>BurkinaFaso</string>
		<string>Burundi</string>
		<string>Cambodia</string>
		<string>Cameroon</string>
		<string>Canada</string>
		<string>CapeVerde</string>
		<string>CaymanIslands</string>
		<string>CentralAfricanRepublic</string>
		<string>Chad</string>
		<string>Chile</string>
		<string>China</string>
		<string>ChristmasIsland</string>
		<string>Cocos(Keeling)Islands</string>
		<string>Colombia</string>
		<string>Comoros</string>
		<string>Congo</string>
		<string>Congo</string>
		<string>CookIslands</string>
		<string>CostaRica</string>
		<string>Coted&apos;Ivoire</string>
		<string>Croatia</string>
		<string>Cuba</string>
		<string>Cyprus</string>
		<string>CzechRepublic</string>
		<string>Denmark</string>
		<string>Djibouti</string>
		<string>Dominica</string>
		<string>DominicanRepublic</string>
		<string>Ecuador</string>
		<string>Egypt</string>
		<string>ElSalvador</string>
		<string>EquatorialGuinea</string>
		<string>Eritrea</string>
		<string>Estonia</string>
		<string>Ethiopia</string>
		<string>FaroeIslands</string>
		<string>FalklandIslands(Malvinas)</string>
		<string>Fiji</string>
		<string>Finland</string>
		<string>France</string>
		<string>FrenchGuiana</string>
		<string>FrenchPolynesia</string>
		<string>FrenchSouthernTerritories</string>
		<string>Gabon</string>
		<string>Gambia</string>
		<string>Georgia</string>
		<string>Germany</string>
		<string>Ghana</string>
		<string>Gibraltar</string>
		<string>Greece</string>
		<string>Greenland</string>
		<string>Grenada</string>
		<string>Guadeloupe</string>
		<string>Guam</string>
		<string>Guatemala</string>
		<string>Guernsey</string>
		<string>Guinea</string>
		<string>Guinea-Bissau</string>
		<string>Guyana</string>
		<string>Haiti</string>
		<string>HeardIslandandMcDonaldIslands</string>
		<string>HolySee(VaticanCityState)</string>
		<string>Honduras</string>
		<string>HongKong</string>
		<string>Hungary</string>
		<string>Iceland</string>
		<string>India</string>
		<string>Indonesia</string>
		<string>Iran</string>
		<string>Iraq</string>
		<string>Ireland</string>
		<string>IsleofMan</string>
		<string>Israel</string>
		<string>Italy</string>
		<string>Jamaica</string>
		<string>Japan</string>
		<string>Jersey</string>
		<string>Jordan</string>
		<string>Kazakhstan</string>
		<string>Kenya</string>
		<string>Kiribati</string>
		<string>Korea</string>
		<string>Korea</string>
		<string>Kuwait</string>
		<string>KyrgyzRepublic</string>
		<string>LaoPeople&apos;sDemocraticRepublic</string>
		<string>Latvia</string>
		<string>Lebanon</string>
		<string>Lesotho</string>
		<string>Liberia</string>
		<string>LibyanArabJamahiriya</string>
		<string>Liechtenstein</string>
		<string>Lithuania</string>
		<string>Luxembourg</string>
		<string>Macao</string>
		<string>Macedonia</string>
		<string>Madagascar</string>
		<string>Malawi</string>
		<string>Malaysia</string>
		<string>Maldives</string>
		<string>Mali</string>
		<string>Malta</string>
		<string>MarshallIslands</string>
		<string>Martinique</string>
		<string>Mauritania</string>
		<string>Mauritius</string>
		<string>Mayotte</string>
		<string>Mexico</string>
		<string>Micronesia</string>
		<string>Moldova</string>
		<string>Monaco</string>
		<string>Mongolia</string>
		<string>Montenegro</string>
		<string>Montserrat</string>
		<string>Morocco</string>
		<string>Mozambique</string>
		<string>Myanmar</string>
		<string>Namibia</string>
		<string>Nauru</string>
		<string>Nepal</string>
		<string>NetherlandsAntilles</string>
		<string>Netherlands</string>
		<string>NewCaledonia</string>
		<string>NewZealand</string>
		<string>Nicaragua</string>
		<string>Niger</string>
		<string>Nigeria</string>
		<string>Niue</string>
		<string>NorfolkIsland</string>
		<string>NorthernMarianaIslands</string>
		<string>Norway</string>
		<string>Oman</string>
		<string>Pakistan</string>
		<string>Palau</string>
		<string>PalestinianTerritory</string>
		<string>Panama</string>
		<string>PapuaNewGuinea</string>
		<string>Paraguay</string>
		<string>Peru</string>
		<string>Philippines</string>
		<string>PitcairnIslands</string>
		<string>Poland</string>
		<string>Portugal</string>
		<string>PuertoRico</string>
		<string>Qatar</string>
		<string>Reunion</string>
		<string>Romania</string>
		<string>RussianFederation</string>
		<string>Rwanda</string>
		<string>SaintBarthelemy</string>
		<string>SaintHelena</string>
		<string>SaintKittsandNevis</string>
		<string>SaintLucia</string>
		<string>SaintMartin</string>
		<string>SaintPierreandMiquelon</string>
		<string>SaintVincentandtheGrenadines</string>
		<string>Samoa</string>
		<string>SanMarino</string>
		<string>SaoTomeandPrincipe</string>
		<string>SaudiArabia</string>
		<string>Senegal</string>
		<string>Serbia</string>
		<string>Seychelles</string>
		<string>SierraLeone</string>
		<string>Singapore</string>
		<string>Slovakia(SlovakRepublic)</string>
		<string>Slovenia</string>
		<string>SolomonIslands</string>
		<string>Somalia</string>
		<string>SouthAfrica</string>
		<string>SouthGeorgiaandtheSouthSandwichIslands</string>
		<string>Spain</string>
		<string>SriLanka</string>
		<string>Sudan</string>
		<string>Suriname</string>
		<string>Svalbard&amp;JanMayenIslands</string>
		<string>Swaziland</string>
		<string>Sweden</string>
		<string>Switzerland</string>
		<string>SyrianArabRepublic</string>
		<string>Taiwan</string>
		<string>Tajikistan</string>
		<string>Tanzania</string>
		<string>Thailand</string>
		<string>Timor-Leste</string>
		<string>Togo</string>
		<string>Tokelau</string>
		<string>Tonga</string>
		<string>TrinidadandTobago</string>
		<string>Tunisia</string>
		<string>Turkey</string>
		<string>Turkmenistan</string>
		<string>TurksandCaicosIslands</string>
		<string>Tuvalu</string>
		<string>Uganda</string>
		<string>Ukraine</string>
		<string>UnitedArabEmirates</string>
		<string>UnitedKingdom</string>
		<string>UnitedStatesofAmerica</string>
		<string>UnitedStatesMinorOutlyingIslands</string>
		<string>UnitedStatesVirginIslands</string>
		<string>Uruguay</string>
		<string>Uzbekistan</string>
		<string>Vanuatu</string>
		<string>Venezuela</string>
		<string>Vietnam</string>
		<string>WallisandFutuna</string>
		<string>WesternSahara</string>
		<string>Yemen</string>
		<string>Zambia</string>
		<string>Zimbabwe</string>
	</array>
	<key>city_prefix</key>
	<array>
		<string>North</string>
		<string>East</string>
		<string>West</string>
		<string>South</string>
		<string>New</string>
		<string>Lake</string>
		<string>Port</string>
	</array>
	<key>city_suffix</key>
	<array>
		<string>town</string>
		<string>ton</string>
		<string>land</string>
		<string>ville</string>
		<string>berg</string>
		<string>burgh</string>
		<string>borough</string>
		<string>bury</string>
		<string>view</string>
		<string>port</string>
		<string>mouth</string>
		<string>stad</string>
		<string>furt</string>
		<string>chester</string>
		<string>mouth</string>
		<string>fort</string>
		<string>haven</string>
		<string>side</string>
		<string>shire</string>
	</array>
	<key>street_suffix</key>
	<array>
		<string>Alley</string>
		<string>Avenue</string>
		<string>Branch</string>
		<string>Bridge</string>
		<string>Brook</string>
		<string>Brooks</string>
		<string>Burg</string>
		<string>Burgs</string>
		<string>Bypass</string>
		<string>Camp</string>
		<string>Canyon</string>
		<string>Cape</string>
		<string>Causeway</string>
		<string>Center</string>
		<string>Centers</string>
		<string>Circle</string>
		<string>Circles</string>
		<string>Cliff</string>
		<string>Cliffs</string>
		<string>Club</string>
		<string>Common</string>
		<string>Corner</string>
		<string>Corners</string>
		<string>Course</string>
		<string>Court</string>
		<string>Courts</string>
		<string>Cove</string>
		<string>Coves</string>
		<string>Creek</string>
		<string>Crescent</string>
		<string>Crest</string>
		<string>Crossing</string>
		<string>Crossroad</string>
		<string>Curve</string>
		<string>Dale</string>
		<string>Dam</string>
		<string>Divide</string>
		<string>Drive</string>
		<string>Drive</string>
		<string>Drives</string>
		<string>Estate</string>
		<string>Estates</string>
		<string>Expressway</string>
		<string>Extension</string>
		<string>Extensions</string>
		<string>Fall</string>
		<string>Falls</string>
		<string>Ferry</string>
		<string>Field</string>
		<string>Fields</string>
		<string>Flat</string>
		<string>Flats</string>
		<string>Ford</string>
		<string>Fords</string>
		<string>Forest</string>
		<string>Forge</string>
		<string>Forges</string>
		<string>Fork</string>
		<string>Forks</string>
		<string>Fort</string>
		<string>Freeway</string>
		<string>Garden</string>
		<string>Gardens</string>
		<string>Gateway</string>
		<string>Glen</string>
		<string>Glens</string>
		<string>Green</string>
		<string>Greens</string>
		<string>Grove</string>
		<string>Groves</string>
		<string>Harbor</string>
		<string>Harbors</string>
		<string>Haven</string>
		<string>Heights</string>
		<string>Highway</string>
		<string>Hill</string>
		<string>Hills</string>
		<string>Hollow</string>
		<string>Inlet</string>
		<string>Inlet</string>
		<string>Island</string>
		<string>Island</string>
		<string>Islands</string>
		<string>Islands</string>
		<string>Isle</string>
		<string>Isle</string>
		<string>Junction</string>
		<string>Junctions</string>
		<string>Key</string>
		<string>Keys</string>
		<string>Knoll</string>
		<string>Knolls</string>
		<string>Lake</string>
		<string>Lakes</string>
		<string>Land</string>
		<string>Landing</string>
		<string>Lane</string>
		<string>Light</string>
		<string>Lights</string>
		<string>Loaf</string>
		<string>Lock</string>
		<string>Locks</string>
		<string>Locks</string>
		<string>Lodge</string>
		<string>Lodge</string>
		<string>Loop</string>
		<string>Mall</string>
		<string>Manor</string>
		<string>Manors</string>
		<string>Meadow</string>
		<string>Meadows</string>
		<string>Mews</string>
		<string>Mill</string>
		<string>Mills</string>
		<string>Mission</string>
		<string>Mission</string>
		<string>Motorway</string>
		<string>Mount</string>
		<string>Mountain</string>
		<string>Mountain</string>
		<string>Mountains</string>
		<string>Mountains</string>
		<string>Neck</string>
		<string>Orchard</string>
		<string>Oval</string>
		<string>Overpass</string>
		<string>Park</string>
		<string>Parks</string>
		<string>Parkway</string>
		<string>Parkways</string>
		<string>Pass</string>
		<string>Passage</string>
		<string>Path</string>
		<string>Pike</string>
		<string>Pine</string>
		<string>Pines</string>
		<string>Place</string>
		<string>Plain</string>
		<string>Plains</string>
		<string>Plains</string>
		<string>Plaza</string>
		<string>Plaza</string>
		<string>Point</string>
		<string>Points</string>
		<string>Port</string>
		<string>Port</string>
		<string>Ports</string>
		<string>Ports</string>
		<string>Prairie</string>
		<string>Prairie</string>
		<string>Radial</string>
		<string>Ramp</string>
		<string>Ranch</string>
		<string>Rapid</string>
		<string>Rapids</string>
		<string>Rest</string>
		<string>Ridge</string>
		<string>Ridges</string>
		<string>River</string>
		<string>Road</string>
		<string>Road</string>
		<string>Roads</string>
		<string>Roads</string>
		<string>Route</string>
		<string>Row</string>
		<string>Rue</string>
		<string>Run</string>
		<string>Shoal</string>
		<string>Shoals</string>
		<string>Shore</string>
		<string>Shores</string>
		<string>Skyway</string>
		<string>Spring</string>
		<string>Springs</string>
		<string>Springs</string>
		<string>Spur</string>
		<string>Spurs</string>
		<string>Square</string>
		<string>Square</string>
		<string>Squares</string>
		<string>Squares</string>
		<string>Station</string>
		<string>Station</string>
		<string>Stravenue</string>
		<string>Stravenue</string>
		<string>Stream</string>
		<string>Stream</string>
		<string>Street</string>
		<string>Street</string>
		<string>Streets</string>
		<string>Summit</string>
		<string>Summit</string>
		<string>Terrace</string>
		<string>Throughway</string>
		<string>Trace</string>
		<string>Track</string>
		<string>Trafficway</string>
		<string>Trail</string>
		<string>Trail</string>
		<string>Tunnel</string>
		<string>Tunnel</string>
		<string>Turnpike</string>
		<string>Turnpike</string>
		<string>Underpass</string>
		<string>Union</string>
		<string>Unions</string>
		<string>Valley</string>
		<string>Valleys</string>
		<string>Via</string>
		<string>Viaduct</string>
		<string>View</string>
		<string>Views</string>
		<string>Village</string>
		<string>Village</string>
		<string>Villages</string>
		<string>Ville</string>
		<string>Vista</string>
		<string>Vista</string>
		<string>Walk</string>
		<string>Walks</string>
		<string>Wall</string>
		<string>Way</string>
		<string>Ways</string>
		<string>Well</string>
		<string>Wells</string>
	</array>
	<key>app_number</key>
	<array>
		<string>Apt. ###</string>
		<string>Suite ###</string>
	</array>
	<key>state</key>
	<array>
		<string>Alabama</string>
		<string>Alaska</string>
		<string>Arizona</string>
		<string>Arkansas</string>
		<string>California</string>
		<string>Colorado</string>
		<string>Connecticut</string>
		<string>Delaware</string>
		<string>Florida</string>
		<string>Georgia</string>
		<string>Hawaii</string>
		<string>Idaho</string>
		<string>Illinois</string>
		<string>Indiana</string>
		<string>Iowa</string>
		<string>Kansas</string>
		<string>Kentucky</string>
		<string>Louisiana</string>
		<string>Maine</string>
		<string>Maryland</string>
		<string>Massachusetts</string>
		<string>Michigan</string>
		<string>Minnesota</string>
		<string>Mississippi</string>
		<string>Missouri</string>
		<string>Montana</string>
		<string>Nebraska</string>
		<string>Nevada</string>
		<string>New Hampshire</string>
		<string>New Jersey</string>
		<string>New Mexico</string>
		<string>New York</string>
		<string>North Carolina</string>
		<string>North Dakota</string>
		<string>Ohio</string>
		<string>Oklahoma</string>
		<string>Oregon</string>
		<string>Pennsylvania</string>
		<string>Rhode Island</string>
		<string>South Carolina</string>
		<string>South Dakota</string>
		<string>Tennessee</string>
		<string>Texas</string>
		<string>Utah</string>
		<string>Vermont</string>
		<string>Virginia</string>
		<string>Washington</string>
		<string>West Virginia</string>
		<string>Wisconsin</string>
		<string>Wyoming</string>
	</array>
	<key>state_abbr</key>
	<array>
		<string>AL</string>
		<string>AK</string>
		<string>AS</string>
		<string>AZ</string>
		<string>AR</string>
		<string>CA</string>
		<string>CO</string>
		<string>CT</string>
		<string>DE</string>
		<string>DC</string>
		<string>FM</string>
		<string>FL</string>
		<string>GA</string>
		<string>GU</string>
		<string>HI</string>
		<string>ID</string>
		<string>IL</string>
		<string>IN</string>
		<string>IA</string>
		<string>KS</string>
		<string>KY</string>
		<string>LA</string>
		<string>ME</string>
		<string>MH</string>
		<string>MD</string>
		<string>MA</string>
		<string>MI</string>
		<string>MN</string>
		<string>MS</string>
		<string>MO</string>
		<string>MT</string>
		<string>NE</string>
		<string>NV</string>
		<string>NH</string>
		<string>NJ</string>
		<string>NM</string>
		<string>NY</string>
		<string>NC</string>
		<string>ND</string>
		<string>MP</string>
		<string>OH</string>
		<string>OK</string>
		<string>OR</string>
		<string>PW</string>
		<string>PA</string>
		<string>PR</string>
		<string>RI</string>
		<string>SC</string>
		<string>SD</string>
		<string>TN</string>
		<string>TX</string>
		<string>UT</string>
		<string>VT</string>
		<string>VI</string>
		<string>VA</string>
		<string>WA</string>
		<string>WV</string>
		<string>WI</string>
		<string>WY</string>
		<string>AE</string>
		<string>AA</string>
		<string>AP</string>
	</array>
</dict>
</plist>
