<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>company_suffix</key>
        <array>
            <string>Inc</string>
            <string>and Sons</string>
            <string>LLC</string>
            <string>Group</string>
        </array>
    </dict>
</plist>