<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mimeTypes</key>
	<dict>
		<key>application_mime_types</key>
		<array>
			<string>application/atom+xml</string>
			<string>application/ecmascript</string>
			<string>application/EDI-X12</string>
			<string>application/EDIFACT</string>
			<string>application/json</string>
			<string>application/javascript</string>
			<string>application/octet-stream</string>
			<string>application/ogg</string>
			<string>application/pdf</string>
			<string>application/postscript</string>
			<string>application/rdf+xml</string>
			<string>application/rss+xml</string>
			<string>application/soap+xml</string>
			<string>application/font-woff</string>
			<string>application/xhtml+xml</string>
			<string>application/xml-dtd</string>
			<string>application/xop+xml</string>
			<string>application/zip</string>
			<string>application/gzip</string>
		</array>
		<key>audio_mime_types</key>
		<array>
			<string>audio/basic</string>
			<string>audio/L24</string>
			<string>audio/mp4</string>
			<string>audio/mpeg</string>
			<string>audio/ogg</string>
			<string>audio/vorbis</string>
			<string>audio/vnd.rn-realaudio</string>
			<string>audio/vnd.wave</string>
			<string>audio/webm</string>
		</array>
		<key>image_mime_types</key>
		<array>
			<string>image/gif</string>
			<string>image/jpeg</string>
			<string>image/pjpeg</string>
			<string>image/png</string>
			<string>image/svg+xml</string>
			<string>image/tiff</string>
			<string>image/vnd.microsoft.icon</string>
		</array>
		<key>message_mime_types</key>
		<array>
			<string>message/http</string>
			<string>message/imdn+xml</string>
			<string>message/partial</string>
			<string>message/rfc822</string>
		</array>
		<key>model_mime_types</key>
		<array>
			<string>model/example</string>
			<string>model/iges</string>
			<string>model/mesh</string>
			<string>model/vrml</string>
			<string>model/x3d+binary</string>
			<string>model/x3d+vrml</string>
			<string>model/x3d+xml</string>
		</array>
		<key>multipart_mime_types</key>
		<array>
			<string>multipart/mixed</string>
			<string>multipart/alternative</string>
			<string>multipart/related</string>
			<string>multipart/form-data</string>
			<string>multipart/signed</string>
			<string>multipart/encrypted</string>
		</array>
		<key>text_mime_types</key>
		<array>
			<string>text/cmd</string>
			<string>text/css</string>
			<string>text/csv</string>
			<string>text/html</string>
			<string>text/javascript</string>
			<string>text/plain</string>
			<string>text/vcard</string>
			<string>text/xml</string>
		</array>
		<key>video_mime_types</key>
		<array>
			<string>video/mpeg</string>
			<string>video/mp4</string>
			<string>video/ogg</string>
			<string>video/quicktime</string>
			<string>video/webm</string>
			<string>video/x-matroska</string>
			<string>video/x-ms-wmv</string>
			<string>video/x-flv</string>
		</array>
	</dict>
	<key>fileExtensions</key>
	<dict>
		<key>audio_file_extensions</key>
		<array>
			<string>flac</string>
			<string>mp3</string>
			<string>wav</string>
		</array>
		<key>image_file_extensions</key>
		<array>
			<string>bmp</string>
			<string>gif</string>
			<string>jpeg</string>
			<string>jpg</string>
			<string>png</string>
			<string>tiff</string>
		</array>
		<key>text_file_extensions</key>
		<array>
			<string>css</string>
			<string>csv</string>
			<string>html</string>
			<string>js</string>
			<string>json</string>
			<string>txt</string>
		</array>
		<key>document_file_extensions</key>
		<array>
			<string>doc</string>
			<string>dot</string>
			<string>docx</string>
			<string>docm</string>
			<string>dotx</string>
			<string>dotm</string>
			<string>docb</string>
			<string>xls</string>
			<string>xlt</string>
			<string>xlm</string>
			<string>xlsx</string>
			<string>xlsm</string>
			<string>xltx</string>
			<string>xltm</string>
			<string>xlsb</string>
			<string>xla</string>
			<string>xlam</string>
			<string>xll</string>
			<string>xlw</string>
			<string>ppt</string>
			<string>pot</string>
			<string>pps</string>
			<string>pptx</string>
			<string>pptm</string>
			<string>potx</string>
			<string>potm</string>
			<string>ppam</string>
			<string>ppsx</string>
			<string>ppsm</string>
			<string>sldx</string>
			<string>sldm</string>
		</array>
		<key>video_file_extensions</key>
		<array>
			<string>mp4</string>
			<string>avi</string>
			<string>mov</string>
			<string>webm</string>
		</array>
	</dict>
</dict>
</plist>
