<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countryCode</key>
	<array>
		<string>GB</string>
	</array>
	<key>branchCode</key>
	<array>
		<string>######</string>
	</array>
	<key>ssn</key>
	<array>
		<string>###-##-####</string>
	</array>
	<key>bic</key>
	<array>
		<string>MIDLGB####?</string>
		<string>LOYDGB##?##</string>
		<string>SMBCG##LXXX</string>
		<string>AIBKGB#LSDV</string>
		<string>RBOSGB2RTCM</string>
		<string>RBOSGB2RTCM</string>
		<string>RBOSGB2RTCM</string>
		<string>RBOSGB2RTCM</string>
		<string>RBOSGB2RTCM</string>
		<string>ROYCGB22XXX</string>
		<string>ROYCGB22XXX</string>
		<string>ROYCGB22XXX</string>
		<string>ROYCGB22XXX</string>
		<string>ROYCGB22XXX</string>
		<string>CLSBUS33XXX</string>
		<string>ABNAGB2LXXX</string>
		<string>CLSBUS33XXX</string>
		<string>BOFAGB3SSWI</string>
		<string>ABNAGB2LXXX</string>
		<string>BOFAGB3SSWI</string>
		<string>CLSBUS33XXX</string>
		<string>ABNAGB2LXXX</string>
		<string>BOFAGB3SSWI</string>
		<string>CLSBUS33XXX</string>
		<string>ABNAGB2LXXX</string>
		<string>BOFAGB3SSWI</string>
		<string>CLSBUS33XXX</string>
		<string>ABNAGB2LXXX</string>
		<string>BOFAGB3SSWI</string>
		<string>BARCGB####?</string>
	</array>
	<key>accountNumber</key>
	<array>
		<string>########</string>
	</array>
	<key>visaPrefix</key>
	<array>
		<integer>4539</integer>
		<integer>4556</integer>
		<integer>4916</integer>
		<integer>4532</integer>
		<integer>4929</integer>
		<integer>40240071</integer>
		<integer>4485</integer>
		<integer>4716</integer>
		<integer>4</integer>
	</array>
	<key>mastercardPrefix</key>
	<array>
		<integer>51</integer>
		<integer>52</integer>
		<integer>53</integer>
		<integer>54</integer>
		<integer>55</integer>
	</array>
	<key>amexPrefix</key>
	<array>
		<integer>34</integer>
		<integer>37</integer>
	</array>
	<key>discoveryPrefix</key>
	<array>
		<integer>6011</integer>
	</array>
	<key>dinnersPrefix</key>
	<array>
		<integer>300</integer>
		<integer>301</integer>
		<integer>302</integer>
		<integer>303</integer>
		<integer>36</integer>
		<integer>38</integer>
	</array>
	<key>enroutePrefix</key>
	<array>
		<integer>2014</integer>
		<integer>2149</integer>
	</array>
	<key>jcbPrefix</key>
	<array>
		<integer>35</integer>
	</array>
	<key>voyagerPrefix</key>
	<array>
		<integer>8699</integer>
	</array>
</dict>
</plist>
